body {
	font: 12px/1 sans-serif;
}

#root {
	position: absolute;
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
}

.container {
	display: grid;

	width: 100%;
	height: 100%;

	grid-gap: .5em;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1em auto;
}

.container nav {
	grid-column: 1/3;
	grid-row: 1/2;
}

.container main, .container aside {
	grid-row: 2/3;
}

.container aside {
	grid-column: 2/3;
}

.container main {
	grid-column: 1/3;
}
.container aside + main {
	grid-column: 1/2;
}
