.container, aside div, label, label button, label input, label select, label span {
	width: 100%;
}

body {
	font: 12px/1 sans-serif;
}

#root {
	position: absolute;
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
}

.container {
	display: grid;

	height: 100%;

	grid-gap: .5em;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 2em auto;
}

.container nav {
	grid-column: 1/3;
	grid-row: 1/2;
}

.container aside, .container main {
	grid-row: 2/3;
}

.container aside {
	grid-column: 2/3;
}

.container main {
	grid-column: 1/3;
}

.container aside + main {
	grid-column: 1/2;
}

nav button + button {
	margin-left: 1em;
}

aside div {
	margin-bottom: 1em;
}

aside, aside > div, label {
	display: flex;
}

aside, aside > div {
	flex-flow: column nowrap;
}

label {
	flex-flow: row wrap;
	justify-content: center;
}

label + label {
	margin-top: 1em;
}

button, label input, label select {
	cursor: pointer;
}

label input, label select {
	margin-top: .5em;
}
